# Common FISSURE Files
routersploit.log
Logs/event.log
certificates/
Installer/fissure_install.log

# CoT message logging
Logs/CoT_Logs/

# Plugins
#Plugins/*
#!Plugins/plugin_template/
#!Plugins/tpms/
#!Plugins/wifi/
#!Plugins/plugin_template/**
#!Plugins/tpms/**
#!Plugins/wifi/**
#!Plugins/test/

# MacOS Files
.DS_Store

# Python Files
*.pyc
**/__pycache/
.coverage

# VS Code Files
.vscode

# Other 
/.env
.env  # Some currently unused env files, but often contains secrets, so better be safe than sorry
.venv
env.py
artifacts*
#mobac-profile.xml
